@model List<SmartWatchManager.Models.BillOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/cart.css" />
<style>

    .badge {
        color: #000 !important;
    }

    .delete-link {
        color: white;
        text-decoration: none; /* Loại bỏ gạch chân mặc định */
        /* Bỏ hiệu ứng hover */
        transition: none;
    }

        .delete-link:hover {
            color: white;
        }
    /* Thay đổi con trỏ khi hover vào nút */
    .remove-product:hover {
        cursor: pointer;
    }
</style>
<h2>Lịch sử đặt hàng</h2>

<section class="section-content padding-y">
    <div class="container-cart">
        <div class="row">
            <main class="col-md-12">

                <div class="content-table">
                    <table class="table">
                        <tr>
                            <th>
                                Mã đơn hàng
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>

                            <th>
                                Ngày đặt hàng
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Thành tiền
                            </th>
                            <th>
                                Thao tác
                            </th>

                        </tr>

                        @foreach (var purchase in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => purchase.OrderName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => purchase.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => purchase.OrderDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => purchase.Quantity)
                                    </td>
                                    <td>
                                        @String.Format("{0:#,##0} VNĐ", purchase.TotalPrice).Replace(',', '.')
                                    </td>

                                    <td>
                                        <button class="btn btn-danger remove-product totalAmount" style="border: none;">
                                            @Html.ActionLink("Xóa", "Delete", new { id = @purchase.OrderID }, new { @class = "delete-link" })
                                            <i class="fas fa-trash"></i>
                                        </button>

                                    </td>
                                </tr>
                            }
                        
                    </table>
                </div>
            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
