
@if (Session["UserID"] != null)
{
    <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Index", "Home" , new { area = "Admin" } )">
        <i class="fa fa-fw fa-user text-dark mr-3"></i>
        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
        <span class="">Admin</span>
    </a>
    <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Logout","Home")">
        <span class="">Đăng xuất</span>
    </a>
}
else if (Session["CustomerID"] != null)
{
    <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Index","Orders")">
        <i class="fa fa-fw fa-user text-dark mr-3"></i>
        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
        
    </a>
    <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Logout","Home")">
        <span class="">Đăng xuất</span>
    </a>
}
else
{
    <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Register","Home")">
        <span class="">Đăng kí</span>
    </a>
    <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Login","Home")">
        <span class="">Đăng nhập</span>
    </a>
}



